.container{
    width: 1000px;
    height: 1000px;
    border: 1px solid;
    display: flex;
    align-items: center;
    align-items: start;
    align-items: end;
    flex-direction: row-reverse;
    gap: 16px;
}
.box{
    width: 100px;
    height: 100px;
    background-color: lightgreen;
}